@use 'partials/header';
@use 'partials/menu';
@use 'partials/container';

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

body {
  background: #222;
}